*
{
    padding: 0;
    margin: 0;
}


header
{

background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(blue.jpg);
height: 100vh;
width: 100%;
background-position: center;
background-size: cover;
position: relative;

}


nav{

    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
   
    
}

nav img{
    width: 9.0rem;
   
}


.menubar
{
flex: 1;
text-align: right;
list-style: none;


}

.menubar ul li{

display: inline-block;
position: relative;



}


.menubar ul li a{

    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: .8rem;
    text-decoration: none;
    
        
    }


.menubar ul li a:hover{

     color: chartreuse;   
            
        }



.textbox
{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}



.textbox h1{
    font-size: 10rem;
}


.textbox p{
    font-size: 3rem;
}


button
{
    color: red;
    background-color: yellowgreen;
    font-size: 2rem;
    background-color: yellow;
    padding: 1rem;
    font-family: cursive;
    

   
   


}

button:hover
{
    color:blue;
    background-color: white;
    transition: 1s;

    
}



  html{

    font-size: 62.5%;
          
        }



 @media(max-width:700px)
{
    html{
        font-size: 45%;
    }

    




    
}

























/* 
.textbox
{
    width: 90%;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: (-50%,-50%);
    text-align: center;

}


.textbox h1{
    font-size: 62px;
}


.textbox p{
    font-size: 14px;
    margin: 10px 0 40px;
} */























